---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Danilo Vélez Galarza',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="hero"
    title="Danilo Vélez Galarza"
    tagline="Analista económico, conferencista y docente ecuatoriano"
    actions={[{ variant: 'primary', text: '¡Contáctame!', href: 'mailto:danilo_velez@hotmail.com' }]}
    image={{
      src: '~/assets/images/presentador_asamblea_nacional.jpg',
      alt: 'Danilo Vélez Galarza, presentando un punto en la Asamblea Nacional del Ecuador.',
    }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 5.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 5.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        title: 'Built on top of Astro 5.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/danilovelez/',
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'Twitter (X)',
          href: 'https://x.com/danilovelezg',
        },
      },
    ]}
    image={{
      src: '~/assets/images/danilo_velez_podio.png',
      alt: 'Danilo Vélez Galarza, dándo una charla magistral.',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Acerca de</h2>
      <p>
        Graduado de Economía en la Universidad Santa María - Campus Guayaquil. Actualmente cursa su maestría en Economía
        y Ciencias Políticas en ESEADE (Argentina).
      </p>
      <br />
      <p>
        Ha sido el investigador principal del Instituto Ecuatoriano de Economía Política (IEEP) por más de cinco años.
        Durante ese tiempo ha participado en la elaboración de varios estudios económicos, entre los que destacan el
        Índice de Burocracia, la iniciativa Inversión para la Reactivación del Ecuador, y publicaciones sobre
        Dolarización e Integración Financiera.
      </p>
      <br />
      <p>
        Fue docente en el Diplomado en Economía de la Escuela Austriaca y Políticas Públicas de la UEES y el IEEP. Ha
        sido conferencista nacional e internacional. Tiene una activa participación en medios de comunicación de
        Ecuador. Cuenta con experiencia en la elaboración de proyectos y en asesoría legislativa.
      </p>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Economía y Política: Análisis y Reflexiones"
    information={`Explorando la intersección entre economía, política y sociedad, con insights y análisis de un experto en economía con más de 5 años de experiencia en investigación y docencia.`}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="¿En qué te puedo ayudar?"
    items={[
      {
        title: 'Entrevistas en medios',
        description:
          'Obtén insights y análisis económicos de actualidad por parte de un experto en economía con amplia experiencia en medios de comunicación de Ecuador.',
      },
      {
        title: 'Elaboración de proyectos',
        description:
          'Desarrolla proyectos económicos y de políticas públicas con la ayuda de un investigador principal con más de cinco años de experiencia en el Instituto Ecuatoriano de Economía Política.',
      },
      {
        title: 'Consultas académicas',
        description:
          'Resuelve tus dudas sobre economía, política y teorías económicas con un profesional con formación académica en Economía y experiencia como docente en diplomados especializados.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="¡Contáctame!"
    subtitle="¿Requieres algún servicio profesional?"
    actions={[
      {
        variant: 'primary',
        text: '¡Contáctame!',
        href: 'mailto:danilo_velez@hotmail.com',
      },
    ]}
  />
</Layout>
